@import url(Header/header.css);
@import url(Principal/principal.css);
@import url(Main/servicos/servicos.css);
@import url(Main/depoimentos/depoimentos.css);
@import url(Main/sobre/sobre.css);
@import url(Footer/contato.css);
@import url(Footer/copy.css);


.limit-section {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}


.text-orange {
  color: #FF4A00;
  font-weight: 600;
}


.btn {
  border: none;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  background-color: #FF4A00;
  transition: transform 0.3s ease-in-out;

}

.btn a {
  color: #fff;
  text-decoration: none;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
}

.btn:hover {
  transform: scale(1.1);
}


.title {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  text-transform: uppercase;
  font-size: 1.2rem;

}

.box-title {
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
}

.box-title h4 {
  margin-bottom: 0.5rem;
}

.box-seta {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 6.5rem 0rem;
}

.seta-para-baixo {
  height: 32px;
  width: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveImage 2s infinite;

}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}




.whatsapp-icon {
  top: 85%;
  left: 93%;
  position: fixed;
  width: 80px;
  height: 80px;
  animation: moveImage 3s infinite;
}







@media screen and (max-width:1024px) {

  .limit-section {
    max-width: 800px;
  }

  .btn {
    padding: 0.5rem 3rem;

  }

  .btn a {
    font-size: 0.9rem;
  }

  .seta-para-baixo {
    margin-bottom: 1.4rem;
  }


  .whatsapp-icon {
    left: 90%;
    width: 60px;
  }
}

@media screen and (max-width:1024px) {
  .limit-section {
    max-width: 95%;
  }

  nav {
    width: 60%;
  }

  header {
    justify-content: space-between;
  }

  .btn a {
    font-size: 1rem;
  }

  .btn {
    padding: 0.3rem 1rem;
    width: 40%;
  }

  .whatsapp-icon {
    width: 50px;
    left: 85%;
  }

  .seta-para-baixo {
    width: 35px;
    height: 30px;
  }


}

@media screen and (max-width: 465px) {
  .limit-section {
    max-width: 290px;
  }

  .seta-para-baixo {
    display: none;
  }

  .whatsapp-icon {
    left: 85%;
  }

  .box-title {
    padding: 2rem 0rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .box-title h4 {
    font-size: 1rem;
  }
}